<!-- <app-add-todo [taskList]="tasks"></app-add-todo>
<ul class="list">
  <app-todo-item  [taskList]="tasks"></app-todo-item>
  <li class="todo-item" *ngFor="let task of tasks">{{ task }}
    <div>
      <button (click)="removeItem()" class="delete-button">delete</button>
    </div>
  </li>

</ul> -->
<!-- <app-add-todo></app-add-todo> -->

<div class="todo-app">
  <app-button (submit)="addItem($event)"></app-button>

  <ul class="list">
    <li *ngFor="let todoItem of todoList">
      <app-todo-item
        [item]="todoItem"
        (remove)="removeItem($event)"
        (update)="updateItem($event.item, $event.changes)"
      ></app-todo-item>
    </li>
  </ul>

</div>
