.todo-item {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  padding: 20px;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.button-delete {
  display: flex;
  color: #fff;
  background-color: #f23b3b;
  font-size: 20px;
  border-radius: 0.25rem;
  margin-left: auto;
  cursor: pointer;
  border: none;
  padding: 6px 12px;
}


.todo-checkbox {
  flex-shrink: 0;
  margin: auto 1ex auto 0;
}

.todo-complete {
  text-decoration: line-through;
}
