.todo-item {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  padding: 1.25rem;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.todo-checkbox {
  flex-shrink: 0;
  margin: auto 1ex auto 0;
}

.todo-complete {
  text-decoration: line-through;
}
